/* One Dark */
:root {
    --dark: initial;
    --light: ;

    --od-background: #282c34;
    --od-surface: #2c323c;
    --od-highlight: #3e4452;
    --od-border: #5c6370;
    --od-text: #abb2bf;
    --od-accent: #61afef;
    --od-error: #e06c75;

    --muted-text: color-mix(in srgb, var(--od-surface) 25%, var(--od-text));

    --primary-color-1: var(--od-background);
    --primary-color-2: var(--od-surface);
    --primary-color-3: var(--od-surface);
    --primary-color-4: var(--od-highlight);
    --primary-color-5: var(--od-highlight);
    --primary-color-6: var(--od-highlight);
    --primary-color-7: var(--od-border);

    --secondary-color-1: var(--od-text);
    --secondary-color-2: var(--od-text);
    --secondary-color-3: var(--od-text);
    --secondary-color-4: var(--od-text);
    --secondary-color-5: var(--od-border);

    --focused-border-color: var(--od-accent);
    --primary-error-color: var(--od-highlight);
}

.toast[data-type="error"] .toast-title,
.toast[data-type="error"] .toast-description {
    color: var(--od-error);
}
