/* One Dark */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    color: var(--secondary-color-4);
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

:root {
    --dark: initial;
    --light: ;

    --od-black: #282c34;
    --od-dark-gray: #2c323c;
    --od-gray: #3e4452;
    --od-light-gray: #5c6370;
    --od-white: #abb2bf;
    --od-blue: #61afef;
    --od-green: #98c379;
    --od-yellow: #e5c07b;
    --od-red: #e06c75;

    --muted-text: color-mix(in srgb, var(--od-dark-gray) 25%, var(--od-white));

    --primary-color: var(--od-black);
    --primary-color-1: var(--od-black);
    --primary-color-2: var(--od-dark-gray);
    --primary-color-3: var(--od-dark-gray);
    --primary-color-4: color-mix(in srgb, var(--od-dark-gray) 40%, var(--od-gray));
    --primary-color-5: var(--od-gray);
    --primary-color-6: var(--od-gray);
    --primary-color-7: var(--od-light-gray);

    --secondary-color-1: var(--od-white);
    --secondary-color-2: var(--od-white);
    --secondary-color-3: var(--od-white);
    --secondary-color-4: var(--od-white);
    --secondary-color-5: var(--od-light-gray);

    --focused-border-color: var(--od-blue);

    --primary-error-color: var(--od-gray);
    --secondary-error-color: var(--od-red);
    --contrast-error-color: var(--od-white);

    --primary-info-color: var(--od-gray);
    --secondary-info-color: var(--od-light-gray);

    --primary-success-color: var(--od-gray);
    --secondary-success-color: var(--od-green);

    --primary-warning-color: var(--od-gray);
    --secondary-warning-color: var(--od-yellow);
}

label {
    display: flex;
    align-items: center;
    color: var(--muted-text);
    font-size: 0.8rem;
    line-height: 1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--od-light-gray) transparent;
}


.toast[data-type="error"] .toast-title,
.toast[data-type="error"] .toast-description {
    color: var(--od-red);
}
