/* One Dark */
:root {
    --dark: initial;
    --light: ;

    --primary-color-1: #282c34;
    --primary-color-2: #2c323c;
    --primary-color-3: #2c323c;
    --primary-color-4: #3e4452;
    --primary-color-5: #3e4452;
    --primary-color-6: #3e4452;
    --primary-color-7: #5c6370;

    --secondary-color-1: #abb2bf;
    --secondary-color-2: #abb2bf;
    --secondary-color-3: #abb2bf;
    --secondary-color-4: #abb2bf;
    --secondary-color-5: #5c6370;

    --muted-text: color-mix(in srgb, var(--secondary-color-5) 50%, var(--secondary-color-4));

    --focused-border-color: #61afef;
    --primary-error-color: #3e4452;
}

.toast[data-type="error"] .toast-title,
.toast[data-type="error"] .toast-description {
    color: #e06c75;
}
